*.out
*.log
*.json
*.csv
*.txt
WprimeJetGen
deepjets/src/_libdeepjets.cpp
*.pyc
build
log
*.so
*.png
*.jpg
*.jpeg
*.pdf
*.eps
*.svg
*.gif
*.h5
*.nfs*
*.DS_Store
.ipynb_checkpoints
*.hepmc
*.root
*.pileup
