HardQCD:all = on

// Automated Variations of Shower Parameters for Uncertainty Bands
// http://home.thep.lu.se/Pythia/pythia82html/Variations.html
// http://arxiv.org/abs/1605.08352
UncertaintyBands:doVariations = on
UncertaintyBands:List = { 
    alphaShi05 fsr:muRfac=0.5 isr:muRfac=0.5,
    alphaShi06 fsr:muRfac=0.6 isr:muRfac=0.6,
    alphaShi07 fsr:muRfac=0.7 isr:muRfac=0.7,
    alphaShi08 fsr:muRfac=0.8 isr:muRfac=0.8,
    alphaShi09 fsr:muRfac=0.9 isr:muRfac=0.9,
    alphaSlo12 fsr:muRfac=1.2 isr:muRfac=1.2, 
    alphaSlo14 fsr:muRfac=1.4 isr:muRfac=1.4, 
    alphaSlo16 fsr:muRfac=1.6 isr:muRfac=1.6, 
    alphaSlo18 fsr:muRfac=1.8 isr:muRfac=1.8, 
    alphaSlo20 fsr:muRfac=2.0 isr:muRfac=2.0, 
    hardHi fsr:cNS=2.0 isr:cNS=2.0, 
    hardLo fsr:cNS=-2.0 isr:cNS=-2.0 
}
