HardQCD:all = on

# Set PDFs for hard process and showering.
PDF:useHard                = on
PDF:pSet                   = LHAPDF6:CT10nlo 
PDF:pHardSet               = LHAPDF6:CT10nlo
PDF:lepton                 = off 

# Set alphaS(mZ) to value used in PDF fit.
SpaceShower:alphaSvalue    = 0.118
TimeShower:alphaSvalue     = 0.118

PhaseSpace:mHatMin         = 5 
PhaseSpace:pTHatMin        = 5 

# Set shower cut-off
SpaceShower:pTmin          = 1.732
TimeShower:pTmin           = 1.732

# Do not use "power shower".
SpaceShower:pTmaxMatch     = 1 
TimeShower:pTmaxMatch      = 1 

# DIRE settings
#ShowerPDF:usePDFalphas     = on
#ShowerPDF:useSummedPDF     = on
#ShowerPDF:usePDFmasses     = on
#DireSpace:forceMassiveMap  = on

# Switch off multiparton interactions for DIS
PartonLevel:MPI            = off 
BeamRemnants:primordialKT  = off
